# To get the gemini key go to https://aistudio.google.com/u/1/ and, to get the groq key go to https://console.groq.com/keys and finally, create a new file called .env and place your secret keys
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
API_BASE_URL=http://127.0.0.1:8000
DATABASE_URL=postgresql://username:password@localhost:5432/workout_tracker
GROQ_API_KEY=YOUR_GROQ_API_KEY